<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body class="bg-light text-center">
<div th:insert="nav-bar :: nav"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">

            <div class="row">
                <div class="col pb-2 mt-4 mb-2 border-bottom">
                    <h2>Welcome to Chart Repository Service</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
