<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body class="bg-light text-center">
<div th:insert="nav-bar :: nav"></div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col">

            <div class="row" th:if="${deleted}">
                <div class="col">
                    <div class="alert alert-danger alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>Chart deleted</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col pb-2 mt-4 mb-2 border-bottom">
                    <h2>Welcome to Chart Repository Service</h2>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
                </div>
            </div>
            <div class="row" th:if="${#lists.isEmpty(chartList)}">
                <div class="col">
                    <div class="alert alert-info alert-dismissible fade show">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <p>No charts found</p>
                    </div>
                </div>
            </div>
            <div class="table-responsive" th:if="${not #lists.isEmpty(chartList)}">
                <table class="table table-borderless table-striped table-hover" >
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>URL</th>
                        <th>Type</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="chart : ${chartList}">
                        <td th:text="${chart.getChartId()}"/>
                        <td th:text="${chart.getTitle()}"/>
                        <td><a th:href="@{/chart/viewChart(chartId=${chart.getChartId()})}"><span th:text="${chart.getChartUrl()}"></span></a></td>
                        <td th:text="${chart.getType()}"/>
                        <td th:text="${chart.getWidth()}"/>
                        <td th:text="${chart.getHeight()}"/>
                        <td><a class="btn btn-danger btn-sm" th:href="@{/chart/deleteChart(chartId=${chart.getChartId()})}"><i class="far fa-trash-alt">&nbsp;&nbsp;Delete</i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
