<!--<!DOCTYPE HTML>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Displaying Chart</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--    <link rel="stylesheet" type="text/css" media="all"-->
<!--          href="../../css/Style.css" th:href="@{/css/Style.css}" />-->
<!--</head>-->
<!--<body>-->
<!--<h3>Welcome to JournalDEV Tutorials</h3>-->
<!--<ul>-->
<!--    <li>Java 8 tutorial</li>-->
<!--    <li>Spring tutorial</li>-->
<!--    <li>Gradle tutorial</li>-->
<!--    <li>BigData tutorial</li>-->
<!--</ul>-->

<!--<th:url value="/logout" var="logoutUrl" />-->
<!--<form id="logout" action="${logoutUrl}" method="post" >-->
<!--    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />-->
<!--</form>-->
<!--<th:if test="${pageContext.request.userPrincipal.name != null}">-->
<!--    <a href="javascript:document.getElementById('logout').submit()">Logout</a>-->
<!--</th:if>-->
<!--</body>-->
<!--</html>-->


