<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all"
          href="../../css/Style.css" th:href="@{/css/Style.css}" />
</head>
<body>

<header>
    <div class="container">
        <div class="welcome-banner">
            <h1>Welcome to Chart Repository Service</h1>
            <h3>Signup</h3>
        </div>
    </div>
</header>
<a th:href="@{/chart/Landing}"  style="--i: 0.05s;">Landing Page</a>

<div class="create">
    <form class="create-form" action="#" method="post" th:action="@{/chart/createUser}" th:object="${user}">
        <input placeholder="First Name" type="text" th:field="*{first_name}" />
        <input placeholder="Last Name" type="text" th:field="*{last_name}" />
        <input placeholder="Password" type="text" th:field="*{password}" />
        <input type="submit" class="create-btn" value="CREATE" />
    </form>
</div>

</body>
</html>
